body {
  background-image: url("https://us.123rf.com/450wm/natalia0103/natalia01031508/natalia0103150800030/44239332-diepe-ruimte-achtergrond-met-sterren-.jpg?ver=6");
  background-size: 650px;
  background-attachment: fixed;
}

.Container {
  margin: 0 auto;
}

.Galaxy {
  text-align: center;
  animation: fadeInFirst 2s ease-in;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #4bd5ee;
  font-family: "News Cycle", sans-serif;
  font-size: 50px;
}
.Cantina {
  text-align: center;
  animation: fadeInSecond 7s;
  color: white;
  font-family: "News Cycle", sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}
.Solo {
  text-align: center;
  animation: fadeInThird 8s;
  color: white;
  font-family: "News Cycle" sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}
.Alias {
  text-align: center;
  animation: fadeInFourth 12s;
  color: white;
  font-family: "News Cycle" sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}
.centerButton {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#getAlias {
  width: 100px;
  margin: auto;
}
@keyframes fadeInFirst {
  0% {
    opacity: 0;
  }
  100% {
    color: #4bd5ee;
  }
}
@keyframes fadeInSecond {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
  }
}
@keyframes fadeInThird {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
  }
}
@keyframes fadeInFourth {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
  }
}

#GetAlias {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.firstNameContainer {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.lastNameContainer {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.AliasButton {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.NewHomePlanet {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  animation: fadeInFifth 17s;
}
@keyframes fadeInFifth {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
  }
}
@keyframes fadeInSixth {
  0% {
    opacity: 0;
  }
  100% {
    color: #4bd5ee;
  }
}
@keyframes fadeInSeventh {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
  }
}
@keyframes fadeInEigth {
  0% {
    opacity: 0;
  }
  100% {
    color: rgb(254, 254, 76);
  }
}

#GetHomePlanet {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.YourHomePlanet {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.YourPlanetContainer {
  margin: auto;
  display: flex;
  color: white;
  width: 175px;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  animation: fadeInFifth 17s;
}
.HomePlanetButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.Characters {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.yourName {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.yourHomePlanet {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 17s;
}
.Questions {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInFifth 20s;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 8px;
  border: 3px solid #4bd5ee;
  background-color: white;
  color: #4bd5ee;
  font-weight: bold;
  border-radius: 15%;
  width: 15%;
  animation: fadeInSixth 10s;
}
.options:hover {
  background-image: url("https://st3.depositphotos.com/1310390/13936/v/600/depositphotos_139367812-stock-illustration-speed-warp-vector-background-radiator.jpg");
  background-position: center;
}
.RightAnswers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 8px;
  border: 3px solid #4bd5ee;
  background-color: white;
  color: #4bd5ee;
  font-weight: bold;
  border-radius: 5%;
  width: 20%;
  animation: fadeInSixth 2s;
  align-items: center;
}

.NextQButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.QuizEnd {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.AnswersDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.FinishButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.EndCredits {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInSeventh 8s;
}
.MTFBWY {
  display: flex;
  color: rgb(254, 254, 76);
  font-size: 75px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeInEigth 8s;
}
.PeopleInfoDiv {
  display: inline-block;
  margin-bottom: 1em;
  padding-right: 4em;
  padding-left: 4em;
  color: black;

  /* flex-direction: row; */
  /* grid-template-columns: repeat(3, 100px [col-start]);
  grid-template-rows: repeat(3, 300px [row-start]); */
}
.PeopleCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.CardImages {
  height: 8.8rem;
  object-fit: fill;
}
.CharChoicesBox {
  width: 18em;
  padding-right: 2em;
  margin: auto;
}

ul {
  list-style-type: none;
}
ul li {
  margin: 5px;
}
.RegisterButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}
.LoginButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.UserID {
  display: flex;
  float: left;
  margin-top: 1em;
  color: white;
}
.signOutBtn {
  display: flex;
  float: right;
  margin-top: 1em;
  color: #4bd5ee;
}
.signOutBtn:hover {
  background-image: url("https://st3.depositphotos.com/1310390/13936/v/600/depositphotos_139367812-stock-illustration-speed-warp-vector-background-radiator.jpg");
  background-position: center;
}
.WelcomeLogIn {
  color: white;
  text-align: center;
  margin-top: 5em;
}
.Successful {
  color: white;
  display: flex;
  flex-direction: row;
}
.Intro {
  color: white;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}
.FormLabel {
  color: white;
  margin-left: 2em;
}
.RegisterandLoginBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}
.EmailPasswordContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 15em;
  padding: 1em;
}
.Register {
  margin-top: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
